{% extends "nav.html" %}
<!-- 부모 문서 표기해주기-->
{% block style %}
<style>
  .card-list {
    margin: 0 auto;
  }
  .card-wrap {
    width: 700px;
    margin-top: 30px;
  }
</style>
{% endblock %} {% block script %}
<script>
  function clickHowToggle(me) {
    if ($(me.parentElement).find('.fa-chevron-down').css('display') == 'none') {
      $(me.parentElement).find('.fa-chevron-down').show();
      $(me.parentElement).find('.fa-chevron-up').hide();
    } else if (
      $(me.parentElement).find('.fa-chevron-down').css('display') != 'none'
    ) {
      $(me.parentElement).find('.fa-chevron-down').hide();
      $(me.parentElement).find('.fa-chevron-up').show();
    }
  }

  function commentHaja(me) {
    boardId = $(me).closest('.card-wrap').attr('class').split(/\s+/)[5];
        $.ajax({
          type: 'post',
          url: '/api/board/end/comment',
          data: {
            board_id: boardId,
            user_name: $('#profile').text().slice(0, -1),
            comment: $(me.parentElement).find('#comment').val()
          },
          success: function (res) {
            alert(response["message"]);
<!--            hide input field-->
            $(me.parentElement).find('.comment-input').hide();
<!--            updated review append-->
            $('.comment-list').append(`
              <div class="comment">
                <label> ${review['user_name']} </label>
                <label> ${review['comment']} </label><br>
              </div>
            `);
          },
        });
      }

</script>

{% endblock %} {% block content %}
<div class="card-list d-flex flex-column align-items-center">
  {% for item in result %}
  <div
    class="card-wrap border border-0 rounded-4 p-4 {{ item._id }}"
    style="background-color: #f6f6e9"
  >
    <div class="row">
      <p class="col-8 border border-2 border-dark rounded-2">
        {{ item.when }}에 {{ item.where }}에서 {{ item.what }}하자!
      </p>
      <div class="col-4">
        <p class="badge bg-primary lh-1">
          {{ item.user|length }} / {{ item.max }}
        </p>

        <button
          class="btn btn-sm btn-primary lh-1"
          style="height: 25px"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#content{{item.num}}"
          aria-expanded="false"
          aria-controls="#content{{item.num}}"
          onclick="clickHowToggle(this)"
        >
          <i class="fa-solid fa-chevron-down"></i>
          <i class="fa-solid fa-chevron-up display-none"></i>
        </button>
      </div>
    </div>
    <div class="row collapse" id="content{{item.num}}">
      <div class="col-8 border border-2 border-dark rounded-2">
        {{ item.content }}
      </div>

        <hr>
        <div class="row" >
          <h5>한 줄 소감</h5>
        <div>

        <div class="comment">
          <ul>
          {% for user in item.user %}
            <li>
              <div class="comment-list">
                {% set comment_found = false %}
                {% for review in item.review %}
                    {% if review.user_name == user.user_name %}
                        <strong>{{ user.user_name }}</strong>: {{ review.comment }}
                        {% set comment_found = true %}
                    {% endif %}
                {% endfor %}
              </div>
              <div class="comment-input">
                {% if not comment_found %}
                    <form action="/submit_comment" method="post">
                        <input type="text" id="comment" placeholder="나의 소감">
                        <button onclick="commentHaja(this)">입력</button>
                    </form>
                {% endif %}
              </div>
            </li>
        {% endfor %}
    </ul>

        </div>




    </div>

  </div>
  {% endfor %}
</div>
{% endblock %}

  </div>
</div>