<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" href="static/css/style.css" />
    <script type="text/javascript" src="static/js/script.js"></script>
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
    <script>
      $(document).ready(function () {
        $('#loginForm').submit(function (event) {
          event.preventDefault(); // Prevent the form from submitting normally

          // Get the username and password from the form
          var email = $('#email').val();
          var password = $('#password').val();

          // Send the username and password to the server using AJAX
          $.ajax({
            url: '/login',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ email: email, password: password }),
            success: function (response) {
              // Handle successful login (e.g., redirect to board)
              window.location.href = '/api/board/main';
            },
            error: function (xhr, status, error) {
              // Handle login error (e.g., display error message)
              console.error('Login error:', error);
              alert('Login failed. Please try again.');
            },
          });
        });
      });
    </script>
  </head>

  <body>
    <!-- partial:index.partial.html -->
    <div class="input-form">
      <div class="header content">
        <img
          src="/static/images/HaJa_title.png"
          alt=""
          style="width: 100%; height: 100%; object-fit: cover"
        />
      </div>
      <form id="loginForm">
        <!--    <h1>Login</h1>-->
        <!--    input required 나중에 추가-->
        <div class="content">
          <div class="input-field">
            <input
              id="email"
              type="email"
              placeholder="Email"
              autocomplete="nope"
              required
            />
          </div>
          <div class="input-field">
            <input
              id="password"
              type="password"
              placeholder="Password"
              required
            />
          </div>
        </div>
        <div class="action">
          <button type="submit" onclick="logIn()">로그인</button>
          <a href="/api/sign_up" style="margin: 15px auto; color: #82898E;">
            회원가입
          </a>
        </div>
      </form>
    </div>
  </body>
</html>
