<!DOCTYPE html>
<html lang="en" >

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="static/css/style.css">
    <script type="text/javascript" src="static/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script>
      function logIn(){
        console.log(1);
        $.ajax({
            type: 'POST',
            url:  '/login',
            data: {
                'email': $('#email').val(),
                'password': $('#password').val()
            },
            success: function (response) {
                alert('환영합니다!');
            }
        })
      }

</scrip
</head>

<body>
<!-- partial:index.partial.html -->
<div class="input-form">
    <div class="header content">
        <img src="/static/images/HaJa_title.png" alt="">
        <h1 id="sub-title">같이 할래요?</h1>
    </div>
    <form>
<!--    <h1>Login</h1>-->
<!--    input required 나중에 추가-->
        <div class="content">
            <div class="input-field">
                <input id="email" type="email" placeholder="Email" autocomplete="nope" required>
            </div>
            <div class="input-field">
                <input id="password" type="password" placeholder="Password"  required>
            </div>
        </div>
        <div class="action">
            <button type="button" onclick="location.href='/api/sign_up'">가입하기</button>
            <button onclick="logIn()">로그인</button>
        </div>
    </form>
</div>

</body>
</html>