{% extends "nav.html" %}
<!-- 부모 문서 표기해주기-->
{% block style %}
<style>
  .card-list {
    margin: 0 auto;
  }
  .card-wrap {
    width: 700px;
    margin-top: 30px;
  }
</style>
{% endblock %} {% block script %}
<script>
  function togleUpdateHajaModal(me) {
    event.preventDefault();
    title = $(me).closest('.card-wrap').find('.my_haja_title').text();
    how = $(me).closest('.card-wrap').find('.my_haja_how').text().trim();
    debugger;
    given_string = title.trim();
    parts = given_string.split('에');
    when = parts[0].trim();
    where = parts[1].trim();
    what = parts[2].split('하자!')[0].substring(2).trim();
    const boardId = $(me).closest('.card-wrap').attr('class').split(/\s+/)[5];

    $('#boardId').val(boardId);
    $('#when').val(when);
    $('#where').val(where);
    $('#what').val(what);
    $('#how').val(how);
    $('#updateHajaModal').modal('toggle');
  }
  function updateHaja(me) {
    debugger;
    const when = $('#when').val();
    const where = $('#where').val();
    const what = $('#what').val();
    const how = $('#how').val();
    const max_num = $('#howMany').val();
    const boardId = $('#boardId').val();

    $.ajax({
      type: 'post',
      url: '/api/board/my/update',
      data: {
        when: when,
        where: where,
        what: what,
        content: how,
        max_num: max_num,
        board_id: boardId,
      },
      success: function (res) {
        debugger;
        location.reload();
        alert(res['message']);
      },
    });
  }
  function closeHaja(me) {
    boardId = $(me).closest('.card-wrap').attr('class').split(/\s+/)[5];
    $.ajax({
      type: 'post',
      url: '/api/board/my/close',
      data: {
        user_name: $('#profile').text().slice(0, -1),
        board_id: boardId,
      },
      success: function (res) {
        location.reload();
        alert('진행 HaJa!');
      },
    });
  }
  function deleteHaja(me) {
    boardId = $(me).closest('.card-wrap').attr('class').split(/\s+/)[5];
    $.ajax({
      type: 'post',
      url: '/api/board/my/delete',
      data: {
        board_id: boardId,
      },
      success: function (res) {
        location.reload();
        alert('삭제 완료! 다음 기회에...');
      },
    });
  }
  function clickHowToggle(me) {
    if ($(me.parentElement).find('.fa-chevron-down').css('display') == 'none') {
      $(me.parentElement).find('.fa-chevron-down').show();
      $(me.parentElement).find('.fa-chevron-up').hide();
    } else if (
      $(me.parentElement).find('.fa-chevron-down').css('display') != 'none'
    ) {
      $(me.parentElement).find('.fa-chevron-down').hide();
      $(me.parentElement).find('.fa-chevron-up').show();
    }
  }
</script>
{% endblock %} {% block content %}
<div class="card-list d-flex flex-column align-items-center">
  {% for item in result %}
  <div
    class="card-wrap border border-0 rounded-4 p-4 {{ item._id }}"
    style="background-color: #172037; color: white;"
  >
    <div class="row">
      <p class="my_haja_title col-8 border border-2 border-wihte rounded-2">
        {{ item.when }}에 {{ item.where }}에서 {{ item.what }}하자!
      </p>
      <div class="col-4">
        <p class="badge bg-primary lh-1">
          {{ item.user|length }} / {{ item.max }}
        </p>
        <button
          class="btn btn-sm btn-success lh-1"
          style="height: 25px"
          onclick="closeHaja(this)"
        >
          마감
        </button>
        <button
          class="btn btn-sm btn-info lh-1"
          style="height: 25px"
          data-bs-toggle="modal"
          data-bs-target="#updateHajaModal"
          onclick="togleUpdateHajaModal(this)"
        >
          수정
        </button>
        <button
          class="btn btn-sm btn-danger lh-1"
          style="height: 25px"
          onclick="deleteHaja(this)"
        >
          삭제
        </button>
        <button
          class="btn btn-sm btn-primary lh-1"
          style="height: 25px"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#content{{ item._id }}"
          aria-expanded="false"
          aria-controls="#content{{ item._id }}"
          onclick="clickHowToggle(this)"
        >
          <i class="fa-solid fa-chevron-down"></i>
          <i class="fa-solid fa-chevron-up display-none"></i>
        </button>
      </div>
    </div>
    <div class="row collapse content" id="content{{ item._id }}">
      <div class="my_haja_how col-8 border border-2 border-white rounded-2">
        {{ item.content }}
      </div>
      <div class="col-4">
        {% for user in item.user %}
        <div class="d-form-check">
          <label
            class="position-relative form-check-label"
            for="{{ user.user_name }}"
          >
            {{ user.user_name }} {% if user.user_role == 'host' %}
            <span class="top-0 start-100 translate-middle badge">
              <i
                class="fa-solid fa-crown fa-rotate-by fa-sm"
                style="color: #ffd43b; --fa-rotate-angle: 30deg"
              ></i>
              <span class="visually-hidden">host</span>
            </span>
            {% endif %}
          </label>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div
  class="modal fade"
  id="updateHajaModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="updateHajaModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="updateHajaModalLabel">
          HaJa 생성하기
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          onclick="closeHajaModal()"
        ></button>
      </div>
      <div class="modal-body">
        <div class="box regi-form">
          <div>
            <div class="content">
              <div class="container d-flex flex-column align-items-center">
                <input
                  type="text"
                  class="form-control"
                  id="boardId"
                  aria-label="boardId"
                  aria-describedby="input-haja1"
                  data-toggle="tooltip"
                  title="Enter your description here"
                  hidden
                />
                <div class="input-group mb-3">
                  <span class="input-group-text" id="input-haja1"
                    >언제&nbsp;&nbsp;&nbsp;</span
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="when"
                    aria-label="when"
                    aria-describedby="input-haja1"
                    data-toggle="tooltip"
                    title="Enter your description here"
                  />
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="input-haja2">어디서</span>
                  <input
                    type="text"
                    class="form-control"
                    id="where"
                    aria-label="where"
                    aria-describedby="input-haja2"
                  />
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="input-haja3">무엇을</span>
                  <input
                    type="text"
                    class="form-control"
                    id="what"
                    aria-label="what"
                    aria-describedby="input-haja3"
                  />
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="input-haja4">어떻게</span>
                  <textarea
                    class="form-control"
                    id="how"
                    aria-label="how"
                    aria-describedby="input-haja4"
                    maxlength="100"
                  ></textarea>
                </div>
                <div class="input-group mb-3">
                  <span class="input-group-text" id="input-haja5">몇명이</span>
                  <select
                    class="form-select"
                    id="howMany"
                    aria-label="howMany"
                    aria-describedby="input-haja5"
                  >
                    <option selected value="2">2명</option>
                    <option value="3">3명</option>
                    <option value="4">4명</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          onclick="closeHajaModal()"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          id="saveBtn"
          onclick="updateHaja(this)"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
