<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HaJa</title>

    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Song+Myung&display=swap"
      rel="stylesheet"
    />

    <!-- jquery -->
    <script
      src="https://code.jquery.com/jquery-3.7.1.js"
      integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
      crossorigin="anonymous"
    ></script>

    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/b806388d37.js"
      crossorigin="anonymous"
    ></script>

    <style>
      .display-none {
        display: none;
      }
      #profile {
        font-weight: bold;
        font-size: large;
        text-align: center;
      }
      .is-invalid {
        border: solid red;
      }
      .navigation{
        background-color: #152039;
        border: 0;
      }
    </style>
    {% block style %}{% endblock %}

    <script>
      $(document).ready(function () {
        userName = sessionStorage.getItem('user');
        $('#profile').text(userName);

        // 입력 필드에서 포커스가 벗어날 때 이벤트 처리
        $('.form-control').each(function () {
          $(this).blur(function () {
            // 입력 필드의 값 확인 및 스타일 변경
            var value = $(this).val().trim();
            if (value === '') {
              $(this).addClass('is-invalid'); // 값이 없는 경우 빨간색 테두리 추가
            } else {
              $(this).removeClass('is-invalid'); // 값이 있는 경우 빨간색 테두리 제거
            }
          });
        });

        $('.navigation').hover(
          function () {
            debugger;
            // 마우스가 올라갔을 때 CSS 속성 변경
            $(this).find('.menu-toggle').show();

          },
          function () {
            // 마우스가 벗어났을 때 초기 CSS 속성으로 복원
            $(this).find('.menu-toggle').hide();
          }
        );
      });

      function goToMain(me) {
        window.location.href = '/api/board/main';
      }
      function goToMy(me) {
        debugger;
        window.location.href = '/api/board/my';
      }
      function goToOngo() {
        window.location.href = '/api/board/ongo';
      }
      function goToEnd() {
        window.location.href = '/api/board/end';
      }
      function findHaja() {
        const searh = $('.search').val();
        $.ajax({
          type: 'get',
          url: `/api/board/search?search=${searh}`,
          success: function (res) {
            debugger;
            $('.card-list').empty();
            for (let i = 0; i < res.length; i++) {
              const board = res[i];
              const user = res[i]['user'];
              $('.card-list').append(`
                  <div
                      class="card-wrap border border-0 rounded-4 p-4 ${
                        board['_id']
                      }"
                      style="background-color: #172037; color: white;"
                    >
                      <div class="row">
                        <p class="col-8 border border-2 border-white rounded-2">
                          ${board['when']}에 ${board['where']}에서 ${
                board['what']
              }하자!
                        </p>
                        <div class="col-4">
                          <p class="badge bg-primary lh-1">
                            ${user.length} / ${board['max']}
                          </p>
                          <button
                            class="btn btn-sm btn-primary lh-1"
                            style="height: 25px"
                            onclick="enterHaja(this)"
                          >
                            참가
                          </button>
                          <button
                            class="btn btn-sm btn-primary lh-1"
                            style="height: 25px"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#content${board['_id']}"
                            aria-expanded="false"
                            aria-controls="#content${board['_id']}"
                            onclick="clickHowToggle(this)"
                          >
                            <i class="fa-solid fa-chevron-down"></i>
                            <i class="fa-solid fa-chevron-up display-none"></i>
                          </button>
                        </div>
                      </div>
                      <div class="row collapse content" id="content${
                        board['_id']
                      }">
                        <div class="col-8 border border-2 border-white rounded-2">
                          ${board['content']}
                        </div>
                        <div class="col-4">
                          <div class="d-form-check">
                            <label
                              class="position-relative form-check-label"
                              for="${user[0].user_name}"
                            >
                              ${user[0].user_name}
                            <span
                                class="position-absolute top-0 start-100 translate-middle badge"
                              >
                                <i
                                  class="fa-solid fa-crown fa-rotate-by fa-sm"
                                  style="color: #ffd43b; --fa-rotate-angle: 30deg"
                                ></i>
                                <span class="visually-hidden">host</span>
                              </span>
                            </label>
                            <input class="form-check-input" id="${
                              user[0].user_name
                            }"
                            type="checkbox"
                            ${user[0]['user_check'] == 'Y' ? 'checked' : ''}
                            disabled onclick="return false;" />
                          </div>
                        </div>
                      </div>
                    </div>
                  `);
            }
            alert('검색 완료');
          },
          error: function (res) {
            debugger;
            $('.card-list').empty();
            var message = JSON.parse(res.responseText).error;
            alert(message);
          },
        });
      }
      function closeHajaModal() {
        // 기존에 저장된 Input 내용 지우기
      }
      function logout() {
        sessionStorage.clear();
        document.cookie =
          'token' + '=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
        window.location.href = '/';
      }
      function saveHaja() {
        $('.form-control').each(function () {
          var value = $(this).val().trim();
          if (value === '') {
            $(this).addClass('is-invalid'); // 값이 없는 경우 빨간색 테두리 추가
          } else {
            $(this).removeClass('is-invalid'); // 값이 있는 경우 빨간색 테두리 제거
          }
        });

        var isValid = true;
        $('.form-control').each(function () {
          if ($(this).hasClass('is-invalid')) {
            isValid = false; // 하나라도 빨간색 테두리가 있는 경우 유효하지 않음
            $(this).focus(); // 해당 입력필드로 포커싱
            return false;
          }
        });

        var when = $('#when').val().trim();
        var where = $('#where').val().trim();
        var what = $('#what').val().trim();
        var how = $('#how').val().trim();

        if (isValid) {
          $.ajax({
            type: 'post',
            url: '/api/board/regi',
            data: {
              user_name: $('#profile').text().slice(0, -1),
              user_role: 'host',
              user_check: 'N',
              when: when,
              where: where,
              what: what,
              content: how,
              max: $('#howMany').val(),
            },

            success: function (res) {
              const saveToast = $('#saveToast');
              const toast = new bootstrap.Toast(saveToast[0]);
              $('#createHajaModal').modal('toggle');
              toast.show();
              const board = res.board;
              const user = board.user;

              $('.card-list').prepend(`
              <div
                  class="card-wrap border border-0 rounded-4 p-4 ${
                    board['_id']
                  }"
                  style="background-color: #172037; color: white;"
                >
                  <div class="row">
                    <p class="col-8 border border-2 border-white rounded-2">
                      ${board['when']}에 ${board['where']}에서 ${
                board['what']
              }하자!
                    </p>
                    <div class="col-4">
                      <p class="badge bg-primary lh-1">
                        ${user.length} / ${board['max']}
                      </p>
                      <button
                        class="btn btn-sm btn-primary lh-1"
                        style="height: 25px"
                        onclick="enterHaja(this)"
                      >
                        참가
                      </button>
                      <button
                        class="btn btn-sm btn-primary lh-1"
                        style="height: 25px"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#content${board['_id']}"
                        aria-expanded="false"
                        aria-controls="#content${board['_id']}"
                        onclick="clickHowToggle(this)"
                      >
                        <i class="fa-solid fa-chevron-down"></i>
                        <i class="fa-solid fa-chevron-up display-none"></i>
                      </button>
                    </div>
                  </div>
                  <div class="row collapse content" id="content${board['_id']}">
                    <div class="col-8 border border-2 border-white rounded-2">
                      ${board['content']}
                    </div>
                    <div class="col-4">
                      <div class="d-form-check">
                        <label
                          class="position-relative form-check-label"
                          for="${user[0].user_name}"
                        >
                          ${user[0].user_name}
                        <span
                            class="position-absolute top-0 start-100 translate-middle badge"
                          >
                            <i
                              class="fa-solid fa-crown fa-rotate-by fa-sm"
                              style="color: #ffd43b; --fa-rotate-angle: 30deg"
                            ></i>
                            <span class="visually-hidden">host</span>
                          </span>
                        </label>
                        <input class="form-check-input" id="${
                          user[0].user_name
                        }"
                        type="checkbox"
                        ${user[0]['user_check'] == 'Y' ? 'checked' : ''}
                        disabled onclick="return false;" />
                      </div>
                    </div>
                  </div>
                </div>
              `);

              $('#when').val('');
              $('#where').val('');
              $('#what').val('');
              $('#how').val('');
            },
          });
        }
      }
      function clickMenu() {
        if ($('.menu-toggle').css('display') == 'none') {
          $('.menu-toggle').show();
        } else if ($('.menu-toggle').css('display') == 'inline') {
          $('.menu-toggle').hide();
        }
      }
    </script>
    {% block script %}{% endblock %}
  </head>
  <body>
    <!-- nav바 -->
    <nav
      class="navbar navbar-expand-lg"
      style="background-color: #152039; color: white"
    >
      <div class="container-fluid">
        <button class="btn text-light me-2" type="button" onclick="clickMenu()">
          <i class="fa-solid fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#" style="color: white">함께 HaJa</a>
        <div class="container">
          <div class="d-flex justify-content-center">
            <input
              type="text"
              class="search me-2 w-50"
              placeholder="모임 제목을 입력해주세요."
            />
            <button class="btn btn-primary me-2" onclick="findHaja()">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <button
              type="button"
              class="btn btn-primary me-2"
              data-bs-toggle="modal"
              data-bs-target="#createHajaModal"
            >
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
        </div>
        <div id="profile"></div>
      </div>
    </nav>

    <!-- 본문 -->
    <div class="d-flex">
      <!-- 메뉴 토글 -->
      <div
        style="width: 10%; height: 100vh"
      >
        <button
          class="navigation w-100 btn btn-primary my-2"
          onclick="logout()"
        >
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
          <br/>
          <span class="menu-toggle display-none">로그아웃</span>
        </button>
        <button
          class="navigation w-100 btn btn-primary my-2"
          onclick="goToMain()"
        >
          <i class="fa-solid fa-house"></i>
          <br/>
          <span class="menu-toggle display-none">모집중인 HaJa</span>
        </button>
        <button
          class="navigation w-100 btn btn-primary my-2"
          onclick="goToMy(this)"
        >
          <i class="fa-solid fa-screwdriver"></i>
          <br/>
          <span class="menu-toggle display-none">내가 만든 HaJa</span>
        </button>
        <button
          class="navigation w-100 btn btn-primary my-2"
          onclick="goToOngo()"
        >
          <i class="fa-solid fa-spinner"></i>
          <br/>
          <span class="menu-toggle display-none">진행중인 HaJa</span>
        </button>
        <button
          class="navigation w-100 btn btn-primary my-2"
          onclick="goToEnd()"
        >
          <i class="fa-solid fa-circle-check"></i>
          <br/>
          <span class="menu-toggle display-none">완료된 HaJa</span>
        </button>
      </div>

      {% block content %}{% endblock %}
    </div>

    <div
      class="modal fade"
      id="createHajaModal"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="createHajaModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="createHajaModalLabel">
              HaJa 생성하기
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              onclick="closeHajaModal()"
            ></button>
          </div>
          <div class="modal-body">
            <div class="box regi-form">
              <div>
                <div class="content">
                  <div class="container d-flex flex-column align-items-center">
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="input-haja1"
                        >언제&nbsp;&nbsp;&nbsp;</span
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="when"
                        aria-label="when"
                        aria-describedby="input-haja1"
                        data-toggle="tooltip"
                        title="Enter your description here"
                      />
                    </div>
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="input-haja2"
                        >어디서</span
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="where"
                        aria-label="where"
                        aria-describedby="input-haja2"
                      />
                    </div>
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="input-haja3"
                        >무엇을</span
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="what"
                        aria-label="what"
                        aria-describedby="input-haja3"
                      />
                    </div>
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="input-haja4"
                        >어떻게</span
                      >
                      <textarea
                        class="form-control"
                        id="how"
                        aria-label="how"
                        aria-describedby="input-haja4"
                        maxlength="100"
                      ></textarea>
                    </div>
                    <div class="input-group mb-3">
                      <span class="input-group-text" id="input-haja5"
                        >몇명이</span
                      >
                      <select
                        class="form-select"
                        id="howMany"
                        aria-label="howMany"
                        aria-describedby="input-haja5"
                      >
                        <option selected value="2">2명</option>
                        <option value="3">3명</option>
                        <option value="4">4명</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              onclick="closeHajaModal()"
            >
              Close
            </button>
            <button
              type="button"
              class="btn btn-primary"
              id="saveBtn"
              onclick="saveHaja()"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
      <div
        id="saveToast"
        class="toast"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="toast-header">
          <strong class="me-auto">알림</strong>
          <!-- <small>11 mins ago</small> -->
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
        <div class="toast-body">저장 성공하였습니다.</div>
      </div>
    </div>

    <!-- bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
